<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<!-- Adjust the connection strings here to meet your requirements. -->
		<!-- SQL Server AdventureWorks, which is the 2008 example database variant -->
		<add  name="AdventureWorksConnectionString.SQL Server (SqlClient)" connectionString="data source=thor.sd.local;initial catalog=AdventureWorks;integrated security=SSPI;persist security info=False;packet size=4096"/>
	</connectionStrings>
	<appSettings/>
</configuration>
